body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    color: #333;
}

canvas {
    width: 100%; /* Responsywność */
    max-width: 600px; /* Maksymalna szesrokość */
    height: auto; /* Automatyczna wysokość dla responsywności */
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: block;
}

#uniformMomentChart, #pointMomentChart {
    height: 300px !important; /* Stała wysokość dla wykresów */
}

.input-container {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    display: block;
}

.force-label {
    color: blue;
    font-weight: bold;
}

.distance-label {
    color: green;
    font-weight: bold;
}

input[type="number"], select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
